.carrusel-container {
  position: relative;
  overflow: hidden;
  max-width: 1400px; 
  margin: 0 auto; 
  padding: 0 100px;
} 
.carrusel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
  padding-left: 70px;
  padding-right: 70px;
}
 .tarjeta {
  flex: 0 0 auto;
  width: 220px;
  margin: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.tarjeta-top {
  padding: 40px 0;
  color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 40px;
}
.tarjeta-contenido {
  padding: 15px;
}

.tarjeta-contenido h3 {
  margin: 0 0 10px;
  font-size: 18px;
}
.flecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 30px;
  color: #3498db;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.flecha:hover {
  background-color: #eaf6ff;
}

.izquierda {
  left: 2px;
}

.derecha {
  right: 2px;
}
.azul {
  background-color: #e4a162;
}

.naranja {
  background-color: #cf98cb;
}

.verde {
  background-color: #6abcae;
}

.rojo {
  background-color: #ef8175;
} 
/* *********************************************************************** */
.slider-editoriales-container {
  position: relative;
  overflow: hidden;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.slider-editoriales {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
}

.slider-editoriales::-webkit-scrollbar {
  display: none;
}

.editorial-logo-item {
  flex: 0 0 auto;
  margin: 0 20px;
  padding: 10px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorial-logo-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.editorial-logo-item img:hover {
  transform: scale(1.1);
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  font-size: 30px;
  color: #3498db;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.slider-btn:hover {
  background-color: #eaf6ff;
}

.slider-btn-left {
  left: 2px;
}

.slider-btn-right {
  right: 2px;
}
