body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

header {
  background-color: #5d0933;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.search-container {
  flex: 2;
}

.search-bar {
  display: flex;
  max-width: 700px;

}

.search-bar input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  background-color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-toggle {
  font-size: 28px;
  color: white;
  cursor: pointer;
  display: none;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  gap: 15px;
}

/* ***************************************************************** */
nav {
  background-color: #400020;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.nav-menu>li {
  position: relative;
}

.nav-menu>li>a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu>li:hover>a {
  background-color: #5a002f;
}

.nav-menu li ul {
  display: none;
  position: absolute;
  background-color: #5a002f;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  min-width: 200px;
  z-index: 999;
}

.nav-menu li:hover ul {
  display: block;
}

.nav-menu li ul li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.nav-menu li ul li a:hover {
  background-color: #6f0042;
}

.logo {
  height: 20%;
  width: 45%;
}


@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }

  .logo {
    height: 85px;
    width: 80%;
    margin-left: 7px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu li ul {
    position: static;
  }

  header {
    flex-direction: column;
    align-items: stretch;
  }

  .search-container {
    margin-right: 7px;
    max-width: 250px;
  }
}

.fila1 {
  margin: 10px !important;
}

footer {
  background-color: #5d0933;
  color: #FFF5F5;
  text-align: center;
  padding: 20px 0;
  margin-top: 30px;
}